{% extends 'base.html.twig' %}

{% block title %}Beer Shop{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h1>Details de la biere: </h1>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ beer.name }}</h5>
                    <p class="card-text">{{ beer.brasseur }}</p>
                    <p class="card-text"> {{ beer.category }}</p>
                    <p class="card-text">{{ beer.info }}</p>
                    <p class="card-text">{{ beer.volume }} cl</p>
                    <p class="card-text">{{ beer.price }} €</p>
                    <button type="button" class="btn btn-primary add-panier" onclick="addPanier({{ beer.id}})">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block metas %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>


    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    if(!localStorage.getItem('panier')){
      localStorage.setItem('panier', JSON.stringify([]));
        localStorage.setItem('qty', JSON.stringify([]));
        console.log(localStorage.getItem('panier'));
    }

    function addPanier( idBeer){
        console.log(name);
        var panier = JSON.parse(localStorage.getItem('panier'));
        var qty = JSON.parse(localStorage.getItem('qty'));

        if(!panier.includes(idBeer)){
            panier.push(idBeer);
            qty.push([idBeer,1]);
        }else{
            for(let i=0; i<qty.length; ++i){
                if(qty[i][0]==idBeer){
                    qty[i][1]++;
                }
            }
        }
        localStorage.panier = JSON.stringify(panier);
        localStorage.qty = JSON.stringify(qty);
    };




    </script>


{% endblock %}
